PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/ai-resume-analyzer
JWT_SECRET=replace_this_with_a_long_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
LANGUAGE_TOOL_API_URL=https://api.languagetool.org/v2/check
LANGUAGE_TOOL_LANGUAGE=en-US
MAX_UPLOAD_SIZE_MB=5

